
body{
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-size: 100%
        background-position: center;
        background-repeat: no-repeat;
        transition: background 0.5s ease;
        background-image: url("img/s-l1600.webp");
        background-size: cover;
        height: 100%;
        width: 100%;
        background-position: center;
        font-family: Arial, sans-serif;
        background-size: cover;
        text-align: center;
        height: 100vh;
            background-position: center;
            background-size: cover;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
    }
    
    .container {
        text-align: center;
        padding: 5px;
        color: #11000044;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.68);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(17px);
        -webkit-backdrop-filter: blur(17px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    p {
        color: #25034c;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 30px;
        color: #ffffff;
        background-color: #601065;
        padding: 2%;
        margin-top: 0%;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 30px;
        color: #898686;
        
    }
    h3 {
        font-size: 2rem;
        color: #0a0000;
    }
    
    input {
        padding: 10px;
        font-size: 1rem;
        border-radius: 5px;
        border: none;
        width: 70%;
        max-width: 300px;
        margin-bottom: 10px;
    }
    
    button {
        padding: 10px 20px;
        font-size: 1rem;
        background-color: #4CAF50;
        color: rgba(255, 255, 255, 0.945);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    button:hover {
        background-color: #45a049;
    }
    
    #currentWeather {
        margin-top: 30px;
        color: #5c5959;
    }
    
    #currentWeather h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: #f5f4f4;

    }
    
    #forecast h2 {
        margin-top: 40px;
        margin-bottom: 20px;

    }
    
    #forecastDays {
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        color: #f7f0f0;
    }
    
    .forecast-day {
        padding: 10px;
        border-radius: 10px;
        width: 120px;
        margin: 10px;
        text-align: center;
        color: #026133;
    
    }
    
    footer {
        margin-top: 40px;
        color: #030628;
        padding: 20px;
        /*background-color: rgba(0, 0, 0, 0.6);*/
        background: rgba(255, 255, 255, 0.68);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(17px);
        -webkit-backdrop-filter: blur(17px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    }
    
    footer ul {
        list-style: none;
        padding: 0;
    }
    
    footer ul li {
        display: inline-block;
        margin: 0 10px;
    }
    
    footer ul li a {
        color: darkslateblue;
        text-decoration: none;
    }
    
    footer ul li a:hover {
        text-decoration: underline;
    }
    

    @media (max-width: 600px) {
        h1 {
            font-size: 1.5rem;
        }
        input, button {
            width: 90%;
        }
        #forecastDays {
            flex-direction: column;
            align-items: center;
        }
    }
    
    .forecast-day {
        padding: 10px;
        margin: 10px;
        text-align: center;
        background-image: url();
        border-radius: 5px;
        width: 120px;
    }
    .forecast-day img {
        width: 50px;
        height: 50px;
    }


body {
    background-color: #f0f0f000;
    font-family: Arial, sans-serif;

}

.sunny {
    background-image: url('img/sunny43.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.cloudy {
    background-image: url('img/big.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.rainy {
    background-image: url('img/pexels-pixabay-459451.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    
}

.snowy {
    background-image: url('img/pexels-weekendplayer-1978126.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}


.forecast-day {
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 120px;
}
.forecast-day img {
    width: 50px;
    height: 50px;
}
.copyright {
    color: #2c0303;
}

button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica, "sans-serif";
    transition: all 0.2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #5d0263;
    border: 1px solid transparent;
   
    font-size: 15px;
  }
  
  button:hover {
    background: #096502;
  }
  
  .text {
    color: #fff;
  }
  
  button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover svg {
    transform: translateX(5px);
  }
  
  button:active {
    transform: scale(0.95);
  }

input {
    color: rgb(107, 6, 6);
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
  }
  
  .input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
  }
  